<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pedido {{data.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <div class="ion-text-center">
         <span class="price-producto" > Cliente: {{data.cliente.razon_social}}</span>
        </div>
        <br>
        <div>
          <ion-row class="ion-text-center">
            <ion-col size="6"><span class="price-producto"> Direccion:</span>
               <p> {{data.direccion}}</p></ion-col>
            <ion-col size="6"><span class="price-producto">Zona</span>
               <p> {{data.zona}}</p>
              </ion-col>
          </ion-row>
        </div>
        <br>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button id="watshapp" (click)="watshapp()" >
              <ion-icon slot="end" name="logo-whatsapp"></ion-icon>SMS
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button id="call" (click)="callnumber()" >
              <ion-icon slot="end" name="call"></ion-icon>Llamar
            </ion-button>
          </ion-col>          
        </ion-row>        
    </ion-card-header>
    <ion-card-content>
    <ion-list *ngFor="let item of data.detalle" >
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="item.producto.foto" />
        </ion-thumbnail>
        <ion-label>
          <span class="title-producto">{{item.producto.detalle}}</span>
          <p class="price-producto">{{item.producto.costo}}Bs.</p>
          <div class="ion-text-right">
            Cantidad: {{item.cantidad}}
            <p  class="price-producto">Sub total: {{item.subtotal}}Bs.</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
    <br>
    <div class="ion-text-center">
      <ion-row>
        <ion-col size="6">
          <h2>Costo Delivery</h2>
          <span>{{data.precio_delivery.precio}}</span>
          
        </ion-col>
        <ion-col size="6">
          <h2>Total Productos</h2>
          <span> {{data.total}} Bs.</span>
        </ion-col>
      </ion-row>
    </div>
    <br>
  
    </ion-card-content> 
  </ion-card>
</ion-content>
