#watshapp{
    --border-radius: 50px;
    --background: #4AC959;;
}
#call{
    --border-radius: 50px;
}
ion-thumbnail{
    width: 70px;
    height: 70px;
}
ion-card{
    box-shadow: 0 0 30px;
}

h2{
    color: #0d2e3f;
}
h4{
    color: #0d2e3f;
}
.title-producto{
    color: #e5212b;
}
.price-producto{
    color: #0d2e3f;
}