<ion-header>
  <ion-toolbar color="danger">
      <!-- <ion-buttons color="light" slot="start">
          <ion-back-button ></ion-back-button>
        </ion-buttons> -->
        <ion-buttons color="light" slot="start" (click)="close()">
          <ion-icon  name="close"></ion-icon>
        </ion-buttons>
    <ion-title id="font" class="ion-text-center">Validar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-card>
  <div class="ion-text-center" *ngIf="condicion">
    <h4>{{message}}</h4>
  </div>
  <br>
    <ion-item>
        <ion-icon slot="start" name="keypad"></ion-icon>
        <ion-input type="tel" [(ngModel)]="code" placeholder="Código de validación"></ion-input>
      </ion-item>
      <p class="ion-text-center" style="color:red" *ngIf="!code" >
        Introduzca el codigo enviado al número de celular.
      </p>
      <br>
      <div *ngIf="!condicion">
        <ion-item>
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre Completo"></ion-input>
        </ion-item>
        <p class="ion-text-center" style="color:red" *ngIf="!nombre" >
          Campo nombre es requerido.
        </p>
        <br>
        <ion-item>
          <ion-icon slot="start" name="navigate-outline"></ion-icon>
          <ion-input type="text" [(ngModel)]="ciudad" placeholder="Ciudad"></ion-input>
        </ion-item>
        <p class="ion-text-center" style="color:red" *ngIf="!ciudad" >
          Campo ciudad es requerido.
        </p>
        <br>
    
    
      </div>
</ion-card>
<div class="ion-text-center" *ngIf="condicion" >
  <ion-button [disabled]="!code" (click)="validateCode2()" color="danger" class="send" shape="round">
      <div class="ion-text-capitalize font2">
        Iniciar sesión
      </div>
    </ion-button>
</div>
<div class="ion-text-center" *ngIf="!condicion" >
  <ion-button [disabled]="!code || !nombre  || !ciudad " (click)="validateCode()" color="danger" class="send" shape="round">
      <div class="ion-text-capitalize font2">
        Registrar
      </div>
    </ion-button>
</div>
</ion-content>

