
<ion-content>
<br>
<br>
<div class="ion-text-center">
<img src="{{img}}" alt="">
</div>

<ion-list>
  <div class="ion-text-center">
    <ion-label   position="stacked" style="color: aliceblue; font-size: 1.2em;">Email</ion-label>
  </div>
  
  <ion-item lines="none">
    <ion-input id="input" class="ion-text-center" placeholder="Ingrese su email" type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>
  <div class="ion-text-center">
    <ion-label   position="stacked" style="color: aliceblue; font-size: 1.2em;">Contraseña</ion-label>
  </div>

  <ion-item lines="none">
    
    <ion-input id="input" class="ion-text-center" placeholder="Ingrese su contraseña"  type="password" [(ngModel)]="password" value=""></ion-input>
  </ion-item>
</ion-list>
<div class="ion-text-center">
  <ion-button id="button-login" [disabled]="!email || !password" (click)="login()" shape="round" >
    Ingresar
  </ion-button>
</div>
<p class="ion-text-center">--O--</p>
<br>
<div class="ion-text-center">
  <ion-button id="button-login"  (click)="register()" shape="round" >
    Ingresa con Celular
  </ion-button>
</div>

<!-- <div class="ion-text-center" id="rnova"> 
<p>Development by RNOVA</p>
</div> -->
</ion-content>
