img{
    width: 80%;
   }
p{
    color: white;
}
ion-input{
    font-size: 1.5em;
}
ion-list{
    margin: 20px;
    padding-top: 30px;
}
#rnova{
    padding-top: 40%;
}
#button-login{
    --background:#df2c41;
}
ion-item{
    --background: transparent;
    color: aliceblue;
}
ion-list{
    background-color:transparent;
}
ion-content{
    --background:#0d2e3f ;
}
ion-label{
    font-size: 1.5em;
}
#input{
    background: white;
    color: black;
    font-size: 0.9em;
}

