<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1">
      <ion-icon name="create"></ion-icon>
      <ion-label>Asignaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
