ion-header{
    background: #e5212b;
}

ion-title{
    color: white;
}
ion-button{
    --background: #e5212b;;
}
ion-card{
    box-shadow: 0 0 20px; 
    }
    .price-producto{
        color: #0d2e3f;
    }
