<ion-header >
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center" color="light">
      Historial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <ion-card *ngFor="let item of asignacionesUser" >
    <!-- <ion-card-header>
      <ion-card-subtitle>Cliente: {{item.cliente.razon_social}}</ion-card-subtitle>
      <br>
      <ion-row>
        <ion-col size="6">
          Fecha : {{item.fecha_despacho}}
          <p>Hora despacho: {{item.hora_despacho}}</p>
        </ion-col>
        <ion-col size="6">
          <p>Dirección de entrega:</p>
          <span>{{item.cliente.direccion}}</span>
        </ion-col>
      </ion-row>
    </ion-card-header> -->
    <ion-card-header class="ion-text-center">
      <span class="price-producto" > Cliente</span>
      <p> {{item.cliente.razon_social}}</p>
      <!-- <ion-card-title></ion-card-title> -->
      <br>
      <div>
        <ion-row class="ion-text-center">
          <ion-col size="6"><span class="price-producto"> Direccion</span>
             <p> {{item.direccion}}</p></ion-col>
          <ion-col size="6"><span class="price-producto">Zona</span>
             <p> {{item.cliente.zona}}</p>
            </ion-col>
        </ion-row>
      </div>
      <ion-row class="ion-text-center">
        <ion-col size="6">
         <span class="price-producto"> Fecha :</span>
        
          <p > {{item.fecha_despacho}} </p>
        </ion-col>
        <ion-col size="6">
          <span class="price-producto">Hora despacho</span>
          <p>{{item.hora_despacho}}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>

    
    <ion-card-content>
      <br>
     <ion-row>
       <ion-col size="6">
        <ion-button (click)="sendDetallePedido(item)">
          <!-- <ion-icon slot="icon-only" name="map"> -->
          <!-- </ion-icon>  -->
          Ver Detalle
        </ion-button> 
       </ion-col>
       <ion-col size="6">
        <!-- <ion-button (click)="showLoacte(item)">
          strEstado: "Terminado"
          
          Ver Ubicación
        </ion-button> -->
        <h3>{{item.strEstado == "Terminado" ? 'Entrega completada' : 'null'}}</h3>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col size="12" class="ion-text-center">

        <!-- <ion-item>
          <ion-label slot="start">{{item.estado == '1' ? 'No entregado':'Entregado'}}</ion-label>
          <ion-toggle [checked]="item.estado == '1' ? false:true" (ionChange)="changeEstado($event, item)" color="danger"></ion-toggle>
  
        </ion-item> -->
        
        <!-- <ion-button (click)="confirmar()">
           
        </ion-button> -->
       </ion-col>
     </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
