<ion-header > 
  <ion-toolbar class="class-header">
    <ion-title class="ion-text-center">
      Asignaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card *ngFor="let item of asignacionesUser" >
    <ion-card-header class="ion-text-center">
      <span class="price-producto" > Cliente</span>
      <p> {{item.cliente.razon_social}}</p>
      <!-- <ion-card-title></ion-card-title> -->
      <br>
      <div>
        <ion-row class="ion-text-center">
          <ion-col size="6"><span class="price-producto"> Direccion</span>
             <p> {{item.direccion}}</p></ion-col>
          <ion-col size="6"><span class="price-producto">Zona</span>
             <p> {{item.cliente.zona}}</p>
            </ion-col>
        </ion-row>
      </div>
      <ion-row class="ion-text-center">
        <ion-col size="6">
         <span class="price-producto"> Fecha :</span>
        
          <p> {{item.fecha_despacho}} </p>
        </ion-col>
        <ion-col size="6">
          <span class="price-producto">Hora despacho</span>
          <p>{{item.hora_despacho}}</p>
        </ion-col>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content align="center" >
      <br>
     <ion-row class="ion-text-center">
       <ion-col size="6">
        <ion-button (click)="sendDetallePedido(item)">
          <!-- <ion-icon slot="icon-only" name="map"> -->
          <!-- </ion-icon>  -->
          Ver Detalle
        </ion-button> 
       </ion-col>
       <ion-col size="6">
        <ion-button (click)="showLoacte(item)">
          <!-- <ion-icon slot="icon-only" name="map"> -->
          <!-- </ion-icon>  -->
          Ver Ubicación
        </ion-button>
      </ion-col>
     </ion-row>
     <ion-row class="ion-text-center">
      <ion-col size="12" >

        <ion-item>
          <ion-label slot="start">{{item.estado == '1' ? 'No entregado':'Entregado'}}</ion-label>
          <ion-toggle [checked]="item.estado == '1' ? false:true" (ionChange)="changeEstado($event, item)" color="danger"></ion-toggle>
  
        </ion-item>
        
        <!-- <ion-button (click)="confirmar()">
           
        </ion-button> -->
       </ion-col>
     </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
