<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center" color="light">
      Mi Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()">
        <ion-icon slot="start" color="light" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content >

  <br>
  <div id="avatar" class="ion-text-center">
    <img class="img1" [src]="data.foto ? data.foto : img" alt=""><span></span><img (click)="fotografia()" class="img2" src="{{img2}}" alt="">
  </div>
  <div class="ion-text-center">
   <h2>{{data.nombre}}
  </h2>
   </div>
  <!-- <ion-item>
    <ion-label>Estado</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="select">
      <ion-select-option value="f">Activo</ion-select-option>
      <ion-select-option value="m">No Activo</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input value="Iber Arnol Fernandez Mercado"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Delivery</ion-label>
    <ion-input value="Movil-12"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Delivery</ion-label>
    <ion-input value="Movil-12"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Delivery</ion-label>
    <ion-input value="Movil-12"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Delivery</ion-label>
    <ion-input value="Movil-12"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Delivery</ion-label>
    <ion-input value="Movil-12"></ion-input>
  </ion-item> -->
  <ion-card>
    <!-- <ion-card-content> -->
     <ion-row class="ion-text-center">
       <ion-col size="6">
         <h5>Ciudad</h5>
        <span>{{data.ciudad}}
        </span>
       </ion-col>
       <ion-col size="6">
        <h5>E-mail</h5>
        <span>{{data.email}}
        </span>
       </ion-col>
     </ion-row>
     <ion-row class="ion-text-center">
      <ion-col size="6">
        <h5>Celular</h5>
        <span>{{data.telefono}}
        </span>
      </ion-col>
      <ion-col size="6">
        <h5>Sucursal</h5>
        <span>{{data.sucursal.nombre}}
        </span>
        <div class="ion-text-center">
          <ion-button color="danger" (click)="editar()">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    
    <!-- </ion-card-content> -->
  </ion-card>
</ion-content>
