// img{
//     width: 200px;
//     height: 200px;
//     border-radius: 200px;
// }
ion-header{
    background: #e5212b;
}
h2{
    color: #e5212b
}
#avatar{
    padding-left: 30px;
}
.img1{
    box-shadow: 0 0 20px;
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
.img2{
    width: 30px;
    right: 40px;
    position: relative;
    border-radius: 100px;
}
ion-card{
    box-shadow: 0 0 20px;
}