<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons color="light" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Nuevo Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" >
    <ion-card>
      <ion-list>
        <!-- <ion-label slot="start" class="title-input">Celular</ion-label> -->
        <ion-item>
          <ion-icon slot="start" name="phone-portrait-outline"></ion-icon> <span class="codeCountry">+591 </span>
          <ion-input type="number" (keypress)="numberOnlyValidation($event)" formControlName="phone" inputmode="numeric"
            placeholder="Celular" (ionChange)='onChangeTime($event)'></ion-input>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('phone', 'required')" slot="end"></ion-icon>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('phone', 'min')" slot="end"></ion-icon>
          <ion-icon class="error" name="close-outline" *ngIf="checkError('phone', 'max')" slot="end"></ion-icon>
          <ion-icon class="ok" name="checkmark-outline"
            *ngIf="!checkError('phone', 'required') && !checkError('phone', 'min') && !checkError('phone', 'max') && !checkError('phone', 'pattern')" slot="end"></ion-icon>
        </ion-item>
        <div class="validation-errors">
          <ng-container>
            <div class="error-message" *ngIf="checkError('phone', 'pattern')">Ese número no existe en el país case</div>
            <div class="error-message" *ngIf="checkError('phone', 'required')">*El campo es obligatorio</div>
            <div class="error-message" *ngIf="checkError('phone', 'min')">Falta {{ string }} dígito(s)</div>
            <div class="error-message" *ngIf="checkError('phone', 'max')">Ese número no existe en el país case</div>
          </ng-container>
        </div>
        <br>
    
        <!-- <ion-label slot="start" class="title-input">CI / NIT</ion-label> -->
</ion-list>
    </ion-card>
    <div class="ion-text-center">
      <ion-button [disabled]="!form.valid" (click)="registerClient()" type="submit" color="danger" shape="round">
        Verificar
      </ion-button>
    </div>
  </form>
</ion-content>
