<ion-header class="ion-no-border">
    <ion-toolbar color="danger">
      <ion-title id="title-header" class="ion-text-center">Editar Sucursal</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModalEditProfile()">
          <ion-icon  id="icon-color" style="font-size: 35px;" name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-list *ngFor="let item of data" >
  <ion-item >
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="img" />
      </ion-avatar>
    <ion-label>{{item.nombre}}
    <p>{{item.ciudad}}</p>
    <div>
        <ion-button (click)="seleccionarSucursal(item)" color="danger" shape="round">
          Seleccionar
        </ion-button>
      </div>
    </ion-label>
   
    </ion-item>
  <!-- <ion-label>{{item.ciudad}}</ion-label> -->
  </ion-item>
</ion-list>
</ion-content>
